<% unless current_user %>
  <li class='pure-menu-list pure-menu-item'><%= link_to 'Login', new_session_path, class: 'pure-menu-link' %></li>
  <li class='pure-menu-list pure-menu-item'><%= link_to 'Register', new_user_path, class: 'pure-menu-link' %></li>
<% else %>
  <li class='pure-menu-list pure-menu-item'><%= link_to "#{current_user.username}", user_path(current_user), class: 'pure-menu-link' %></li>
  <li class='pure-menu-list pure-menu-item'><%= link_to "Groups", groups_path, class: 'pure-menu-link'%></li>
  <li class='pure-menu-list pure-menu-item'><%= link_to 'Logout', session_path(current_user), method: :delete, class: 'pure-menu-link' %></li>
<% end %>
