<div class="pure-g">
  <div class="pure-u-1-24"></div>
  <div class="pure-u-23-24">
    <h1>Start your own band!</h1>

    <%= form_for @group, html: {class: "pure-form pure-form-aligned new-group-form"} do |f|%>

      <%= f.label :name, "Your awesome band name:" %><br>
      <%= f.text_field :name %><br><br>

      <%= f.label :password, "Band Access Key:" %><br>
      <%= f.password_field :password %><br>
      <br>
      <%= f.submit "Start your band", class: 'pure-button pure-button-primary'%>

    <%end%>

    <% if flash[:group_create_error] %>
      <div class="error"><%= flash[:group_create_error] %></div>
    <% end %>
    <% if flash[:group_successful_destroy] %>
      <div class="error"><%= flash[:group_successful_destroy] %></div>
    <% end %>
  </div>
</div>
