<% if flash[:user_update_error] %>
  <div class="error"><%= flash[:user_update_error] %></div>
<% end %>
<% if flash[:user_error_destroy] %>
  <div class="error"><%= flash[:user_error_destroy] %></div>
<% end %>

<form class='pure-form-aligned'>
  <h1>Edit your profile.</h1>
  <%= form_for :user, method: 'patch', url: user_path do |f| %>

      <%= f.label :username %><br>
      <%= f.text_field :username, placeholder: "#{current_user.username}" %><br>

      <%= f.label :email %><br>
      <%= f.email_field :email, placeholder: "#{current_user.email}" %><br>

      <%= f.label :password %><br>
      <%= f.password_field :password %><br><br>

      <%= f.submit :Update, class: 'pure-button-primary' %>

  <% end %>

  <div><%= button_to 'Delete', method: :delete, data: { confirm: "Are your sure you want to delete your account? "}, class: 'pure-button' %></div>
</form>
