
<div class="prev-winner pure-u-1-2">
  <div class="pure-u-1-3">
    <p><%= @prev_winner.name %></p>
  </div>
  <div class="pure-u-1-3" id="winner-picture">
    <img class="last-photo" src="<%=@prev_winner.get_image_url%>">
  </div>
  <div class="pure-u-1-3">
    <p><%= @prev_winner_score %></p>
  </div>
</div>

<div class="prev-loser pure-u-1-2">
  <div class="pure-u-1-3">
    <p><%= @prev_loser_score %></p>
  </div>
  <div class="pure-u-1-3" id="loser-picture">
    <img class="last-photo" src="<%=@prev_loser.get_image_url%>">
  </div>
  <div class="pure-u-1-3">
    <p><%= @prev_loser.name %></p>
  </div>
</div>
