<div class="prev-winner pure-u-sm-1-2">
  <div class="pure-u-1-2">
    <p><strong>Winner!</strong><br>
    <strong>Artist:</strong> <%=@prev_winner.name%><br>
    <strong>BTELO Rating:</strong> <%=@prev_winner_score %><br>
    <strong>Rank:</strong>  <%= @prev_winner_ranking %></p>
  </div>

  <div class="pure-u-1-2" id="winner-photo">
    <img class="last-photo" src="<%=@prev_winner.get_image_url%>">
  </div>
</div>

<div class="prev-loser pure-u-sm-1-2">
  <div class="pure-u-1-2" id="loser-photo">
    <img class="last-photo" src="<%=@prev_loser.get_image_url%>">
  </div>

  <div class="pure-u-1-2">
    <p><strong>Loser!</strong><br>
    <strong>Artist:</strong> <%=@prev_loser.name%><br>
    <strong>BTELO Rating:</strong> <%=@prev_loser_score %><br>
    <strong>Rank:</strong>  <%= @prev_loser_ranking %></p>
  </div>
</div>


