<!DOCTYPE html>
<html>
<head>
  <title>Best Thing Ever</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'animate', media: 'all' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
</head>
<body>
  <% reload_string = params[:controller] == 'votes' ? 'Skip' : 'Vote'%>
  <header class="pure-menu pure-menu-horizontal">
    <a href="/" class="pure-menu-heading">Best Thing Ever</a>
      <ul class="pure-menu-list" id="hot-dog-menu">
        <li class="pure-menu-item"><a href="/" class="pure-menu-link"><%= reload_string%></a></li>
        <li class="pure-menu-item"><a href="#" id='directions-modal-link' class='pure-menu-link'>How to Play</a></li>
        <li class="pure-menu-item"><a href="/artists" class="pure-menu-link">Top Scores</a></li>
        <%= render '/sessions/login_items' %>
        <li class="pure-menu-item"><a href="/about" class="pure-menu-link">How Ratings Work</a></li>
        </ul>
        <ul class="pure-menu-list" id="hamburger-menu">
          <li class="pure-menu-item"><a href="/" class="pure-menu-link"><%= reload_string%></a></li>
          <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover"><a href="#" class="pure-menu-link">&#9776;</a>
            <ul class = "pure-menu-children">
              <li class="pure-menu-item">
                <a href="#" class="pure-menu-link" id="mobile-directions-modal-link">How to Play</a>
              </li>
              <li class="pure-menu-item">
                <a href="/artists" class="pure-menu-link">Top Scores</a>
              </li>
              <li class="pure-menu-item">
              <%= render '/sessions/login_items' %>
              <li class="pure-menu-item"><a href="/about" class="pure-menu-link">Ratings Info</a></li>
            </ul>
          </li>
      </ul>
  </header>
  <%= render '/sessions/login_modal' %>
  <%= render '/users/new_modal' %>
  <%= render '/about/directions_modal' %>
  <%= render '/about/mobile_directions_modal' %>
  <%= yield %>
  <footer>
    <p><a href="/developers">Team FoxTato</a> &copy; 2016</p>
  </footer>
</body>
</html>
